.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 10px;
    background-color: #fff;
    max-width: 400px;
    margin: 10px auto 20px auto;
  }
  
  .label {
    font-size: 1rem;
    color: #333;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  
  .searchIcon {
    margin-left: 8px;
    color: #61dafb;
  }
  
  .input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.875rem;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
    width: 100%;
  }
  
  .input:focus {
    border-color: #61dafb;
  }
  