.container {
  width: 745px;
  height: 100%;
  background-color: #f3f0eb;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border: 0.5px solid #c4c4c4;
  border-radius: 10px;
  box-shadow:  3px 9px 17px 0px rgba(137, 137, 137, 0.3);
}

.title {
  display: flex;
    align-items: center;
    gap: 5px;
}


.error {
  text-align: center;
  color:rgb(238, 93, 15);
  font-size: 14px;
}

.loader {
  display: flex;
  justify-content: center;
}