.container {
    min-height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .link {
    color: #ffffff;
    background-color: #007bff;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .link:hover,
  .link.active {
    background-color: #2e68a6;
  }

  .title {
    font-weight: 500;
    font-size: 48px;
    text-align: center;
  }